body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  width: 300px;
}

input {
  width: 100%;
  padding: 10px;
  margin: 20px 0;
  border: none;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  background: #1e293b;
  margin: 5px 0;
}